*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    text-align: center;
}

/***Main***/

.card {
    margin: auto;
    margin: 25px;
    width: var(--baseWidth);
    font-family: var(--mainFont);
    font-weight: 400;
    display: inline-block;
}

.card h2{
    color: #000000;
    font-size: 32px;
    padding-top: 90px;
}

.description{
    color: var(--titleColor);
    font-size: 18px;
    padding: 25px;
    text-align: left;    
}

.card-fondo{
    background-size: cover;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 200px;
    position: relative;
    z-index: 1;
}

.card-contenido{
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative; 
    text-align: center;
    height: 370px;
}

.profile-img{
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 150px;
    width: 150px;

    position: absolute;
    top: -75px;
    left: 100px;
    z-index: 5;
}

.batman{
    background-image: url(../img/bg-batman.jpg);
}
.ww{
    background-image: url(../img/bg-wonderw.jpg);
}
.sman{
    background-image: url(../img/bg-superman.jpg);
}

.harley{
    background-image: url(../img/bg-harley.jpg);   
}

.heart{  
    color: #CC2424;
    font-size: 30px;
    position: absolute;
    left: 25px;
    top: 20px;
}


/*Botón enlace*/

.button{
    background: var(--mainColor);
    border-radius: 7px;
    bottom: 15px;
    color: #F3F3F3;
    display: inline-block;
    font-size: 18px;
    left: 100px;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 150px;
}

/**Botón más**/
.add-button{
    background: var(--mainColor);
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 33px;
    padding: 10px;
    text-align: center;
    width: 50px;

    position: fixed;
    bottom: 30%;
    right: 2%;
    z-index: 15;
}
