/**formularios**/
.height-main{
    height: 80vh;
}

.forms{
    font-family: var(--fontForm);
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    margin: auto;
    text-align: center;
    width: 500px;
}


.forms h2{
    color: #333333;
    font-family: var(--titleFormFont);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    padding-bottom: 20px;
    padding-top: 50px;
    text-align: left;
}

.forms input,
.forms select, 
.forms textarea {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    resize: none;
    width: 100%;
}

.form-button{
    background-color: var(--secondaryColor);
    border-radius: 23px;
    border: var(--secondaryColor);
    color: var(--blackColor);
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.forms input.medium-size-button{
    width: 49%;
}


.reset-button{
    background-color: var(--colorResetButton);
    color: #FFFFFF;
}

.link-form{
    color: var(--blackColor);
    text-decoration: none;
}

.link-form span{
    color: #00669F;
}