/***Anuncio***/

.anuncio{
    background: var(--secondaryColor);
    box-sizing: content-box;
    color: #000000;
    font-family: var(--mainFont);
    font-size: 24;
    font-weight: 400;
    line-height: 28px;
    padding-left: 32px;
}
   
/**Header**/

header {
    background: var(--mainColor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--mainFont);
    font-weight: 400;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.logo{
   display: inline-block;
   height:60px; 
   width: 100px;
}

h1 {
    box-sizing: content-box;
    color: #FFFFFF;  
    display: inline-block;
    font-size: 36px;
    font-weight: 400;
    justify-content: center;
}

nav{
    background-color: var(--navColor);
    text-align: right;
    padding: 10px;
}

nav > a{
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
}

.title-page-hero{
    font-size: 48px;
    padding-left: 32px;
}
